
.app__profilecard{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.app__profilecard-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f8a23172;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #f8a23172;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.app__profilecard-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.app__profilecard-image .app__profilecard-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.app__profilecard-nameAndStatus{
  display: flex;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #56F000 ;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}




@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}