.app__booking {
    padding: 2rem 4rem;
    border: 1px solid var(--color-golden);
    background: var(--color-black);
}

.app__booking-heading {
    text-align: center;
}


.app__booking-dropdown {
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.app__booking-input {
    /* Add your styles for the input section */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* .app__booking-input {
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
} */

.app__booking-input input {
    width: 620px;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--color-white);
    
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
}

.app__booking-input button {
    width: max-content;
}

@media screen and (min-width: 2000px) {
    .app__booking input {
        font-size: 2rem;
    }
}

@media screen and (max-width: 990px) {
    .app__booking-input {
        flex-direction: column;
        width: 100%;
    }

    .app__booking-input input {
        margin: 0 0 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app__booking {
        padding: 2rem 0;
        border: none;
    }
}

@media screen and (max-width: 300px) {
    .app__booking-heading h1 {
        font-size: 32px;
        line-height: 50px;
    }
}
